<button (click)="onAddColumn()">Add col</button>
<button (click)="onAddRow()">Add row</button>

<div class="table-wrap">
  <p-table
    [value]="_answers"
    [reorderableColumns]="true"
    [resizableColumns]="true"
    columnResizeMode="expand"
    (onColReorder)="onReorderColumn($event)"
    (onRowReorder)="onReorderRow($event)">

    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
      <tr>

        <!-- Empty header cell (for title/drag&drop col) -->
        <th
          *ngIf="designerMode"
          class="header-reorder-cell no-border">
        </th>
        <th
          *ngIf="designerMode"
          class="header-remove-row-cell no-border">
        </th>
        <th class="header-row-title-cell no-border"></th>

        <!-- Header cells (Designer mode) -->
        <ng-container *ngIf="designerMode">
          <th
            pEditableColumn
            pResizableColumn
            pReorderableColumn
            *ngFor="let col of _structure.columns;
              let columnIndex = index;
              let last = last;
              let first = first"
            class="header-cell"
            [ngClass]="{
              'first': first,
              'last': last
            }">
            <div class="header-cell__content-wrap">
              <div class="buttons-wrap">
                <span class="drag-icon">
                  <i
                    pReorderableColumnHandle
                    class="fas fa-grip-vertical">
                  </i>
                </span>
                <button
                  (click)="onRemoveColumn(columnIndex)"
                  class="btn-remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea
                    autosize
                    [ngModel]="_structure.columns[columnIndex]"
                    (focusout)="onEditColumnTitle($event.target.value, columnIndex)">
                  </textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  <span class="header-cell__content">{{_structure.columns[columnIndex]}}</span>
                </ng-template>
              </p-cellEditor>
            </div>
          </th>
        </ng-container>

        <!-- Header cells (Passing mode) -->
        <ng-container *ngIf="!designerMode">
          <th
            pResizableColumn
            *ngFor="let col of _structure.columns;
              let i = index;
              let last = last;
              let first = first"
            class="header-cell"
            [ngClass]="{
              'first': first,
              'last': last
            }">
            <div class="header-cell__content-wrap">
              <span class="header-cell__content">{{_structure.columns[i]}}</span>
            </div>
          </th>
        </ng-container>

      </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template
      pTemplate="body"
      let-rowData
      let-index="rowIndex">
      <tr [pReorderableRow]="index">

        <!-- DragRow cell -->
        <td
          *ngIf="designerMode"
          class="body-reorder-cell">
          <span class="drag-icon">
            <i
              pReorderableRowHandle
              class="fas fa-grip-vertical">
            </i>
          </span>
        </td>

        <!-- RemoveRow cell -->
        <td
          *ngIf="designerMode"
          class="body-remove-row-cell">
          <button
            (click)="onRemoveRow(index)"
            class="btn-remove">
            <i class="fas fa-times"></i>
          </button>
        </td>

        <!-- RowTitle cell (Designer mode) -->
        <ng-container *ngIf="designerMode">
          <td
            pEditableColumn
            class="body-cell body-row-title-cell">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <textarea
                  autosize
                  [ngModel]="_structure.rows[index]"
                  (focusout)="onEditRowTitle($event.target.value, index)">
                </textarea>
              </ng-template>
              <ng-template pTemplate="output">
                <span
                  autosize
                  class="body-cell__content">
                  {{_structure.rows[index]}}
                </span>
              </ng-template>
            </p-cellEditor>
          </td>
        </ng-container>

        <!-- RowTitle cell (Passing mode) -->
        <ng-container *ngIf="!designerMode">
          <td class="body-cell body-row-title-cell">
            <span
              autosize
              class="body-cell__content">
              {{_structure.rows[index]}}
            </span>
          </td>
        </ng-container>

        <!-- RowData cell (Passing mode) -->
        <ng-container *ngIf="!designerMode">
          <td
            pEditableColumn
            class="body-cell"
            *ngFor="let answer of rowData;
              let columnIndex = index;
              let last = last;
              let first = first"
            [ngClass]="{
              'first': first,
              'last': last
            }">
            <div class="body-cell__content-wrap">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <textarea
                    autosize
                    [ngModel]="answer"
                    (focusout)="onEditAnswer($event.target.value, index, columnIndex)">
                  </textarea>
                </ng-template>
                <ng-template pTemplate="output">
                  <span
                    autosize
                    class="body-cell__content">
                    {{ _answers[index][columnIndex] }}
                  </span>
                </ng-template>
              </p-cellEditor>
            </div>
          </td>
        </ng-container>

        <!-- RowData cell (Designer mode) -->
        <ng-container *ngIf="designerMode">
          <td
            class="body-cell body-cell-disabled"
            *ngFor="let answer of rowData;
              let i = index;
              let last = last;
              let first = first"
            [ngClass]="{
              'first': first,
              'last': last
            }">
            <div class="body-cell__content-wrap">
              <span
                autosize
                class="body-cell__content">
                Cell value
              </span>
            </div>
          </td>
        </ng-container>

      </tr>
    </ng-template>
  </p-table>

</div>
